<div class="col-md-4 d-flex align-items-center">
  <span class="text-muted">&copy; 2023 SpizzyCoder</span>
</div>

<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
  <a href="mailto:spizzycoder@protonmail.com"><img src="imgs/envelope.svg" alt="Email to SpizzyCoder" width="25"></a>
</ul>