<div class="container-fluid">
  <a class="navbar-brand d-flex text-bold fw-bold align-items-center" href="index.html">
    <img src="imgs/spizzycoder-logo.svg" alt="SpizzyCoder logo" width="40" class="d-inline-block align-text-top me-2">
    SpizzyCoder
  </a>
  <div>
    <a href="https://gitlab.com/spizzycoder" target="_blank" class="btn btn-outline-info">GitLab</a>
    <a href="https://github.com/spizzycoder" target="_blank" class="btn btn-outline-secondary"
    title="inactive">GitHub</a>
  </div>
</div>